{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Governments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updateat</th>
                <th>Name</th>
                <th>Description</th>
                <th>Yearinit</th>
                <th>Monthinit</th>
                <th>Dayinit</th>
                <th>Yearend</th>
                <th>Monthend</th>
                <th>Dayend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for government in governments %}
            <tr>
                <td><a href="{{ path('government_show', { 'id': government.id }) }}">{{ government.id }}</a></td>
                <td>{{ government.createdAt|date("m/d/Y")  }}</td>
                <td>{{ government.updateAt|date("m/d/Y")  }}</td>
                <td>{{ government.name }}</td>
                <td>{{ government.description }}</td>
                <td>{{ government.yearInit }}</td>
                <td>{{ government.monthInit }}</td>
                <td>{{ government.dayInit }}</td>
                <td>{{ government.yearEnd }}</td>
                <td>{{ government.monthEnd }}</td>
                <td>{{ government.dayEnd }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('government_show', { 'id': government.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('government_edit', { 'id': government.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('government_new') }}">Create a new government</a>
        </li>
    </ul>
{% endblock %}
