{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Government creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('government_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
