{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Government</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ government.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ government.createdAt|date("m/d/Y")  }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{{ government.updateAt|date("m/d/Y")  }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ government.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ government.description }}</td>
            </tr>
            <tr>
                <th>Yearinit</th>
                <td>{{ government.yearInit }}</td>
            </tr>
            <tr>
                <th>Monthinit</th>
                <td>{{ government.monthInit }}</td>
            </tr>
            <tr>
                <th>Dayinit</th>
                <td>{{ government.dayInit }}</td>
            </tr>
            <tr>
                <th>Yearend</th>
                <td>{{ government.yearEnd }}</td>
            </tr>
            <tr>
                <th>Monthend</th>
                <td>{{ government.monthEnd }}</td>
            </tr>
            <tr>
                <th>Dayend</th>
                <td>{{ government.dayEnd }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('government_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('government_edit', { 'id': government.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
