<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include '/base/header.html.twig' %}
    </head>
    <body>
      {% include '/base/flashAlert.html.twig' %}
      {% block top %}
           {% include '/base/menu.html.twig' %}
       {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
