{% extends 'dialog.html.twig' %}
{% block dialog_class %}
<span id="classDialog"></span>
{% endblock %}

{% block dialog_title %}
<span id="titleDialog"></span>
{% endblock %}

{% block dialog_body %}
<div class="modal-body">
  <div class="row">
  </div>
</div>
{% endblock %}
