parameters:
    database_host: localhost
    database_port: null
    database_name: ms_test
    database_user: travis
    database_password: admin
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: mail@test.com
    mailer_password: admin
    secret: ThisTokenIsNotSoSecretChangeIt
