{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div id="alerts" class="alert alert-{{ label }} no-margin">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}
