{% extends '@App/base.html.twig' %}

{% block body %}
<h1>App</h1>
<i class="material-icons">face</i>
<i class="fa fa-mars" aria-hidden="true"></i>
<option value="f" class="fa fa-venus" aria-hidden="true"></option>

El pais: <b>{{country}}</b> esta en <b>{{continent}}</b>
{% endblock %}
