{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Marksteinetypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marksteineType in marksteineTypes %}
            <tr>
                <td><a href="{{ path('marksteinetype_show', { 'id': marksteineType.id }) }}">{{ marksteineType.id }}</a></td>
                <td>{{ marksteineType.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('marksteinetype_show', { 'id': marksteineType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('marksteinetype_edit', { 'id': marksteineType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marksteinetype_new') }}">Create a new marksteineType</a>
        </li>
    </ul>
{% endblock %}
