{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Marksteinetype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marksteineType.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ marksteineType.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marksteinetype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('marksteinetype_edit', { 'id': marksteineType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
