{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Regions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td><a href="{{ path('region_show', { 'id': region.id }) }}">{{ region.id }}</a></td>
                <td>{{ region.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('region_show', { 'id': region.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('region_edit', { 'id': region.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('region_new') }}">Create a new region</a>
        </li>
    </ul>
{% endblock %}
