<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/marksteine.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% include 'AppBundle:admin:menuAdmin.html.twig' %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'AppBundle:admin:footerAdmin.html.twig' %}
    </body>
</html>
