<div>
  Marksteine v. {{ version }} -

  <span class="copy-left">©</span>
  {% set yearActual = "now"|date("Y") %}
  {% set yearFundation = "2017-9-26"|date("Y") %}

  {% if yearActual > yearFundation %}
    {{ yearFundation }}-{{ yearActual }}
  {% else %}
    {{ yearFundation }}
  {% endif %}
  -
  <a href="">Marksteine in GitLab</a> 
</div>
