
<li>
  <ul><a href="{{ path('homeAdmin') }}">Home Admin</a></ul>
  <ul><a href="{{ path('marksteine_index') }}">Markestein</a></ul>
  <ul><a href="{{ path('marksteinetype_index') }}">MarkesteinType</a></ul>
  <ul><a href="{{ path('country_index') }}">Country</a></ul>
  <ul><a href="{{ path('region_index') }}">Region</a></ul>
  <ul><a href="{{ path('period_index') }}">Period</a></ul>
  <ul><a href="{{ path('government_index') }}">Government</a></ul>
</li>
