{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Periods list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Yearinit</th>
                <th>Monthinit</th>
                <th>Dayinit</th>
                <th>Yearend</th>
                <th>Monthend</th>
                <th>Dayend</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td><a href="{{ path('period_show', { 'id': period.id }) }}">{{ period.id }}</a></td>
                <td>{{ period.name }}</td>
                <td>{{ period.yearInit }}</td>
                <td>{{ period.monthInit }}</td>
                <td>{{ period.dayInit }}</td>
                <td>{{ period.yearEnd }}</td>
                <td>{{ period.monthEnd }}</td>
                <td>{{ period.dayEnd }}</td>
                <td>{{ period.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('period_show', { 'id': period.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('period_edit', { 'id': period.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('period_new') }}">Create a new period</a>
        </li>
    </ul>
{% endblock %}
