{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Period</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ period.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ period.name }}</td>
            </tr>
            <tr>
                <th>Yearinit</th>
                <td>{{ period.yearInit }}</td>
            </tr>
            <tr>
                <th>Monthinit</th>
                <td>{{ period.monthInit }}</td>
            </tr>
            <tr>
                <th>Dayinit</th>
                <td>{{ period.dayInit }}</td>
            </tr>
            <tr>
                <th>Yearend</th>
                <td>{{ period.yearEnd }}</td>
            </tr>
            <tr>
                <th>Monthend</th>
                <td>{{ period.monthEnd }}</td>
            </tr>
            <tr>
                <th>Dayend</th>
                <td>{{ period.dayEnd }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ period.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('period_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('period_edit', { 'id': period.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
