.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.logomarksteine { color:#EE764A;}


.listTable tbody tr:hover {
  background-color:#f2f2f2;
}


.dialog-base {
  display: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  z-index: 100;
}

.addPolity {
  width: 600px;
}


#alertDialog {
  display: none;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  -webkit-transform: translate(-50%, -15%);
  z-index: 100;
  width: 50%;
  text-align: center;
}
.nav-link {
  cursor: pointer;
}


.modal-backdrop.show {
  z-index: 1;
}


.modal-dialog {
  z-index: 100;
}


.modal-body {
  margin: 15px;
  text-align: center;
}

.table td {
  padding: 3px;
  vertical-align: middle;
}
.circle {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.avatar-user-icon {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.avatar-user-list {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-user-edit {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


a#ALL.active {
  border-bottom: 3px solid #ffffff;
}

a#ROLE_USER.active {
  border-bottom: 3px solid #838383;
}

a#ROLE_COLLABORATOR.active {
  border-bottom: 3px solid #CFBE25;
}

a#ROLE_MANAGER.active {
  border-bottom: 3px solid #348314;
}

a#ROLE_ADMIN.active {
  border-bottom: 3px solid #8B083F;
}

a#ROLE_SUPER_ADMIN.active {
  border-bottom: 3px solid #090004;
}
