{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Marksteines list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createat</th>
                <th>Updateat</th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>Month</th>
                <th>Day</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marksteine in marksteines %}
            <tr>
                <td><a href="{{ path('marksteine_show', { 'id': marksteine.id }) }}">{{ marksteine.id }}</a></td>
                <td>{{ marksteine.createdAt|date("m/d/Y")  }}</td>
                <td>{{ marksteine.updateAt|date("m/d/Y")  }}</td>
                <td>{{ marksteine.title }}</td>
                <td>{{ marksteine.description }}</td>
                <td>{{ marksteine.year }}</td>
                <td>{{ marksteine.month }}</td>
                <td>{{ marksteine.day }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('marksteine_show', { 'id': marksteine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('marksteine_edit', { 'id': marksteine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marksteine_new') }}">Create a new marksteine</a>
        </li>
    </ul>
{% endblock %}
