{% extends 'AppBundle:admin:base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Marksteine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marksteine.id }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{{ marksteine.createdAt|date("m/d/Y")  }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{{ marksteine.updateAt|date("m/d/Y")  }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ marksteine.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ marksteine.description }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ marksteine.year }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ marksteine.month }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ marksteine.day }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marksteine_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('marksteine_edit', { 'id': marksteine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
